body,html {
    margin: 0px;
    border: 0px;
    padding: 0px;
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    background-color: #161616;
    border:40px
}

.grid-container{
    height: 100vhs;

    display: grid;
    grid-template-columns: 0.8fr 1fr;
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-areas:
        "logo logo"
        "canvas canvas"
        "footer footer";
}

.content1 {
    grid-area: logo;
    background-color: #161616;
    padding: 2em;
    color:white;
}

.content2 {
    grid-area: canvas;
    background-color: #161616;
    padding: 0em;
  
}

.content3 {
    grid-area: footer;
    background-color:161616;
    padding: 2em;
}

#color-generation{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color:purple;
}